# this file contains the main configuration for the library
deploy-scripts:
  cf:
    command: cf
    credentials:
      username: ~
      password: ~
      org: ~
      space: ~
    api_url: 'https://api.appcloud-nova.swisscom.com'
    domain: 'nova.scapp.io'
    services: {}
